html, body { width: 100%; height: 100%; }
.header { height: 15%; }
.content { height: 70%; }
.footer { height: 15%; }

/* common */
.none { display: none !important;}
.flex { display: flex; }
.flex_align_center { display: flex; align-items: center; }
.inline { display: inline; }
.inline-block { display: inline-block; }

.m-10 { margin: 10px; }
.m-0-auto { margin: 0 auto; }
.m-r-10 { margin-right: 10px; }
.m-r-15 { margin-right: 15px; }
.m-l-10 { margin-left: 10px; }
.m-l-15 { margin-left: 15px; }

.f-r { float: right; }
.f-l { float: left; }

/* client_layout */
.inline-block a { display: block; padding: 0 23px 0 22px; line-height: 38px; font-size: 14px; color: #000; }
.btn-white { color: #fff !important;}